
#AnchorPane {
	-fx-background-color:  rgb(10,10,10);
	-fx-background-radius: 16 16 16 16;
	-fx-border-radius: 16 16 16 16;
}

#MenuDropDown {
	-fx-background-color: rgb(70,70,70);
}

#MenuDropDown .label {
	-fx-text-fill: rgb(255, 255, 255);
}

#Text {
	-fx-text-fill:  rgb(255,255,255);
}

#CheckBox {
	-fx-text-fill: rgb(255, 255, 255);
}

#Button {
	-fx-background-color:  rgb(70,70,70);
	-fx-text-fill: rgb(255, 255, 255);
}

#Button:hover {
	-fx-background-color:  rgb(40,40,40);
}

#ExitButton {
	-fx-background-color:  rgb(70,70,70);
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-radius: 6 6 6 6;
}

#ExitButton:hover {
	-fx-background-color:  rgb(255,120,120);
	-fx-text-fill: rgb(255, 255, 255);
}

#MinimizeButton {
	-fx-background-color:  rgb(70,70,70);
	-fx-text-fill: rgb(255, 255, 255);
	-fx-background-radius: 6 6 6 6;
}

#MinimizeButton:hover {
	-fx-background-color:  rgb(40,40,40);
	-fx-text-fill: rgb(255, 255, 255);
}

#PlaylistTable {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-radius: 6 6 6 6;
}

#PlaylistTable .colum-header-background {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-radius: 6 6 6 6;
}

.accordion .titled-pane > *.content {
    -fx-background-color: rgb(70, 70, 70);
    -fx-background-radius: 6 6 6 6;
}

.accordion .titled-pane .title:disabled {
    -fx-background-color: rgb(200, 200, 200);
}

.accordion .titled-pane > .title {
    -fx-background-color: rgb(200, 200, 200);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 6 6 6 6;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-border-width: 3px;
}

.tab-pane .tab
{
    -fx-background-color: rgb(50, 50, 50);
    -fx-border-width: 2px;
}

.tab-pane .tab:selected
{
    -fx-background-color: rgb(40, 40, 40);
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(255, 78, 78);
}

.table-view {
   -fx-background-color: transparent;
}

.table-view .placeholder .label {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: 'consolas';
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgb(70, 70, 70);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-table-cell-border-color: rgb(100, 100, 100);
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgb(50, 50, 50);
    -fx-border-color: rgb(100, 100, 100);
}

.table-row-cell:selected {
    -fx-background-color: rgb(120, 120, 120);
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.menu-item .label {
    -fx-font-family: 'Consolas';
    -fx-font-size: 14;
    -fx-text-fill: rgb(255, 255, 255);
}

.menu-item:focused {
     -fx-background-color: rgb(40, 40, 40);
}

.context-menu {
    -fx-background-color:  rgb(70,70,70);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.check-box .box {
    -fx-background-color: rgb(70, 70, 70);
}

.check-box:selected .mark {
    -fx-background-color: rgb(255, 255, 255);
}

.check-box:selected .box {
    -fx-background-color: rgb(70, 70, 70);
}

.dialog-pane {
    -fx-background-color: rgb(40, 40, 40);
}

.dialog-pane .label {
	-fx-font-family: Consolas;
	-fx-font-size: 15;
    -fx-text-fill: rgb(255, 255, 255);
}

.dialog-pane:header .header-panel {
    -fx-background-color: rgb(40, 40, 40);
}

.dialog-pane:header .header-panel .label {
	-fx-font-family: Consolas;
    -fx-font-size: 22;
}

